/.env
/node_modules
intricate-aria-345510-firebase-adminsdk-z57u2-1b18aa4ac4.json

# secrets
.env
secrets/
*.secret.json
*firebase-adminsdk*.json
intricate-aria-345510-firebase-adminsdk-*.jsonintricate-aria-345510-firebase-adminsdk-z57u2-1b18aa4ac4.json
